html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-auto-rows: minmax(em(50), auto);
  grid-gap: 0;
  min-width: 1640px;
}

.disabled {
  pointer-events: none;
}

.app-wrapper {
  max-width: 2000px;
  margin: auto;
}

//NAVBAR
nav {
  width: 100%;
  min-width: 1640px;
  display: flex;
  justify-content: space-between;
  background-color: $navbarBg;
  align-items: center;
}

#demo-simple-select-helper {
  padding-top: em(9);
  padding-bottom: em(9);
}

.path-icon {
  height: em(100);
  padding: em(5) em(10);
}

.controls > *,
#resetBtns > * {
  margin: 0 em(10);
}

#resetBtns > *:first-child {
  margin: 0;
}

.slider-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: em(10);
}

.slider {
  display: flex;
  align-items: center;
  margin: 0 em(10);
}

//help dialog
body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div {
  color: $navbarBg;
  height: em(760);
}

.content-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogTitle-root
  > h2 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
}

body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogContent-root.makeStyles-dialogContent-10
  > div:nth-child(1)
  > h5 {
  font-weight: bold;
}

.logo-img {
  display: flex;
  justify-content: center;
  img {
    height: em(300);
  }
}

.algo-name {
  font-style: oblique;
  font-weight: bold;
}

.navbar-img {
  display: flex;
  justify-content: center;
  img {
    height: em(92);
  }
}

.legend-li {
  display: flex;
  align-items: center;
  margin-bottom: em(10);
}

.legend-icon {
  margin-right: em(25);
  width: em(30);
  height: em(30);
}
