.node {
  border: em(0.5) solid black;
  cursor: pointer;
}

.startingNode {
  background-color: red;
  cursor: grab;
}

.endingNode {
  background-color: green;
  cursor: grab;
}

.wallNode {
  background-color: black;
}

.solution {
  background-color: blueviolet;
}

.solution.startingNode {
  background-color: red;
}
