.node {
  border: em(0.5) solid black;
  cursor: pointer;
}

.startingNode {
  background-color: red;
  cursor: grab;
}

.endingNode {
  background-color: green;
  cursor: grab;
}

.wallNode {
  background-color: black;
}

.visited {
  background-color: blueviolet;
}

.path {
  background-color: yellow;
}

.visited.startingNode {
  background-color: red;
}

.visited.endingNode {
  background-color: green;
}
